<configuration>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <layout>
            <Pattern>%X{imie} - %m</Pattern>
        </layout>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="console">

        </appender-ref>
    </root>

</configuration>